#body {
    background: black;
}

#div01 {
    color: red;
    text-align: center;
    width: 1500px;
    height: 10px;
}

#body02 {
    background: aqua;
}

#div021 {
    color: black;
    text-align: center;
    width: 1500px;
    height: 10px;
}